.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title {
  font-size: 20px;
  padding-bottom: 20px;
}

.name {
  height: 30px;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  gap: 10px;
}

.cancel {
  cursor: pointer;
  border: none;


}

.save {
  border: none;
  cursor: pointer;
}