.main {
  display: flex;
  justify-content: center;
  align-items: center;

  &__body {
    width: 1320px;
    display: flex;
    justify-content: space-between;
  }

  .creator {
    display: flex;
    flex-direction: row;
    background: seagreen;
    width: 345px;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-weight: 900;

    &__plus {
      font-size: 50px;
      color: white;
      padding-right: 70px;
      padding-left: 20px;
    }

    &__new {
      color: white;
      font-size: 20px;
    }
  }
}

.creatorColumn {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
}

.title {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 20px;
}

.name {
  height: 30px;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.cancel {
  cursor: pointer;
  border: none;
  height: 30px;
  width: 110px;

}

.save {
  border: none;
  cursor: pointer;
  height: 30px;
  width: 110px;
  background: seagreen;
  color: white;
}